# Logs
logs
*.log
npm-debug.log*

# Dependencies / build output
node_modules
dist
dist-ssr
*.local
.vite
*.tsbuildinfo

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test-output
test-results
playwright-report
